*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Noto Serif;
}

.page-header {
  background-image: url('../img/header-img.jpg');
  height: 600px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.nav-row {
  background-color: #2E2D2B;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Josefin Sans;
  text-transform: uppercase;
  font-weight: 600;
}

.meta {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 0px gray;
}

#facebook {
  font-size: 30px;
}

.header-content {
  text-align: center;
}

.main-heading {
  font-family: Josefin Sans;
  font-size: 150px;
  color: #2E2D2B;
  padding-top: 170px;
  position: relative;
  z-index: 0;
}

.sub-heading {
  font-family: Dancing Script;
  font-size: 83px;
  color: white;
  text-shadow: black 2px 2px 2px;
  position: absolute;
  z-index: 10;
  top: 260px;
  left: 21%;
}

main {
  background-color: #FEF9EC;
  width: 1155px;
  box-shadow: gray 2px 4px 6px 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  position: relative;
  top: -80px;

}

.item {
  box-shadow: gray 1px 1px 2px;
  width: 535px;
  background-color: #FFFFFF;
  margin-left: 135px;
  margin-top: 60px;
  padding: 10px;

}

#dino {
  background-image: url('../img/dino.jpg');
}
#xx {
  background-image: url('../img/xx.png');
}
#yhact-img {
  background-image: url('../img/yhact.jpg');
}

.blog-img {
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  float: right;
}

.entry-title {
  margin-left: 24px;
  padding-top: 40px;
}

.auth-pic {
  background-image: url('../img/author.jpeg');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

aside {
  background-color: #EFEADF;
  box-shadow: gray 1px 1px 2px 2px;
  width: 350px;
  padding-top: 30px;
  margin-left: 80px;
  margin-top: 30px;

}


.aside-heading {
  text-align: center;
  font-family: Josefin Sans;
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.meta {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: bold;ß
}

.entry-title {
  font-family: Josefin Sans;
  font-size: 26px;
  font-weight: bold;
}

.icon-wrapper {
  background-color: #FEF9EC;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: white;
  position: relative;
  left: 43%;
  top: 60px;
}

p {
  line-height: 40px;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 15px;

}

#bio {
  padding-top: 20px;
  border-top: #2E2D2B solid 2px;
}

.primary-text {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #2E2D2B;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
